{% extends 'account/base.html' %}
{% load i18n %}

{% block centraal_content %}
        <div class="row">
            <div class="col-lg-offset-4 col-lg-5">
                <form class="form" role="form" method="POST">
                    {% csrf_token %}
                    {% for field in form.all_fields %}

                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>

                    {% endfor %}

                    <div class="form-group">
                         <button class="btn btn-primary btn-lg pull-right" type="submit">{% trans 'Register' %}</button>
                    </div>

                </form>
            </div>
        </div>
{% endblock %}