{% extends 'account/base.html' %}
{% load i18n %}

{% block centraal_content %}
        <div class="row">
            <div class="col-lg-offset-4 col-lg-5">
                {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                <a class="btn pull-right" href="{% url 'account-delete-user' user.id %}">{% trans 'Delete account' %}</a>
                <h2>{% trans 'Update your profile' %}</h2>
                <hr />

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                    </div>
                {% endif %}


                <form class="form" role="form" method="POST">

                    {% csrf_token %}
                    {# Include the visible fields #}
                    {% for field in form.all_fields %}

                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>

                    {% endfor %}

                     <div class="form-group">
                         <button class="btn btn-primary btn-lg pull-right" type="submit">{% trans 'Update' %}</button>
                     </div>
                </form>
            </div>
        </div>
{% endblock %}