{# TODO: Build twitter index page, it should be a panel page where user can see a left navigation and center area #}
{% extends "base.html" %}

{% block centraal_content %}
    <div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Left navigation 1</a></li>
                <li><a href="#">Left navigation 2</a></li>
                <li><a href="#">Left navigation 3</a></li>
                <li><a href="#">Left navigation 4</a></li>
                <li><a href="#">Left navigation 5</a></li>
                <li><a href="#">Left navigation 6</a></li>
                <li><a href="#">Left navigation 7</a></li>
                <li><a href="#">Left navigation 8</a></li>
                <li><a href="#">Left navigation 9</a></li>
                <li><a href="#">Left navigation 10</a></li>
                <li><a href="#">Left navigation 11</a></li>
                <li><a href="#">Left navigation 12</a></li>
                <li><a href="#">Left navigation 13</a></li>
                <li><a href="#">Left navigation 14</a></li>
            </ul>
        </div>
        <div class="col-md-9">Here is center area</div>
    </div>
    </div>
{% endblock %}