{% extends 'base.html' %}

        {% block centraal_contents %}
        <!-- centraal content and welcome page start -->
        <div class="row-fluid fmc-content">
            <div class="span12">
                <h1>Web Solution Specialist</h1>
            </div>
        </div>
        <div class="row-fluid fmc-welcome">
            <div class="span2">
                <img src="{{ STATIC_URL }}img/profile_image.jpg" alt="me at the office." />
            </div>
            <div class="span10">
                <h2>I am Mo Mughrabi</h2>
                <p>
                    aka Mohammed Mughrabi, born and raised in Kuwait. I've been into Information Technology both as a career and passion for over 7 years. As a freelancer, I was mostly engaged in building web based solutions using various technologies, more in depth covered in my <a href="#">resume</a>.
                </p>
                <p>
                    On my free time, am traveling enthusiast, movies junkie, sports and enjoy scuba diving and recently a growing interest in cooking.
                </p>
            </div>
        </div>
        <!-- centraal content and welcome page end -->

        <div class="row-fluid welcome-blocks">
            <div class="span4">
                <h2>Web development</h2>
                <p>
                    I started with PHP and ended up with Python (Django/Flask) and Ruby On Rails. I love both frontend-work as well as cool server-side tasks.
                </p>
            </div>
            <div class="span4">
                <h2>Infrastructure</h2>
                <p>
                    I was fortunate enough to get a chance to work on one of the best infrastructures - <em>in Kuwait</em> - for an enterprise during my time in <a href="http://www.zain.com/" target="_blank">Zain</a>. I started off with Oracle PL/SQL & Forms Builder and went on working with MySQL, Microsoft SQL Server, noSQL databases, Linux/Unix boxes.
                </p>
            </div>
            <div class="span4">
                <h2>Professional services</h2>
                <p>
                    If you have an interesting project? <span id="contact-me-label" class="label label-info">contact me</span> for professional services.
                </p>
            </div>
        </div>
        <!-- centraal content and welcome page start -->
        {% endblock %}


{% block centraal_content %}
      <div class="jumbotron left-paragraphs">
        <h1>I am Mo Mughrabi</h1>
          <img class="img-float" src="http://www.gravatar.com/avatar/f2f320767a0a724c639058da7ca7dbd0.png" alt="me at the office." />
        <p>
            aka Mohammed Mughrabi, born and raised in Kuwait. I've been into Information Technology both as a career and passion for over 7 years. As a freelancer, I was mostly engaged in building web based solutions using various technologies, more in depth covered in my <a href="#">resume</a>.
        </p>
        <p>
            On my free time, am traveling enthusiast, movies junkie, sports and enjoy scuba diving and recently a growing interest in cooking.
        </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-4">
            <h3>Infrastructure</h3>
            <p>

                I was fortunate enough to get a chance to work on one of the best infrastructures - <em>in Kuwait</em> - for an enterprise during my time in <a href="http://www.zain.com/" target="_blank">Zain</a>. I started off with Oracle PL/SQL & Forms Builder and went on working with MySQL, Microsoft SQL Server, noSQL databases, Linux/Unix boxes.
            </p>
        </div>

        <div class="col-lg-4">
            <h3>Web development</h3>
            <p>
                I started with PHP and ended up with Python (Django/Flask) and Ruby On Rails. I love both frontend-work as well as cool server-side tasks.
            </p>
        </div>
        <div class="col-lg-4">
            <h3>Professional services</h3>
            <p>
                If you have any interesting project, please <span id="contact-me-label" class="label label-info">contact me</span> for professional services.
            </p>
        </div>
      </div>

{% endblock %}
