{% load i18n %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A homepage for Mo Mughrabi, a web solution specialist working with python, ruby and other technologies." />
    <meta name="keywords" content="Homepage, Python, Django, Flask, resume, portfolio, developer, {% block keywords %}{% endblock %}" />
    <meta name="author" content="Mo Mughrabi" />


	<!-- CSS Styles & compressions starts here -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jumbotron-narrow.css" />
	<!-- CSS Styles & compressions ends here -->

    <!-- JavaScript & compressions starts here -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript.js"></script>
    {% block js %}{% endblock %}
    <!-- JavaScript & compressions ends here -->

	<title>{%block title %}Twitter bot{%endblock%}</title>
</head>
<body>

 <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
            <li{%if request.path == '/'%} class="active"{%endif%}>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Professional <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">Resume / Recommendations</a>
                </li>
                <li>
                    <a href="#">Projects / Tools</a>
                </li>
            </ul>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contacts</a>
            </li>
        </ul>
        <h3 class="text-muted"><a href="/">Personal website</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=mo-mughrabi&repo=mocorner&type=fork"
          allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
        </h3>
      </div>

      {% block centraal_content %}{% endblock %}


      <div class="footer">
        <p>&copy; Crafted by Mo Mughrabi</p>
      </div>

    </div> <!-- /container -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11286723-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>hljs.initHighlightingOnLoad();</script>

{% block sharethis %}
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-517277005ef87259"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'follow' : {
          'services' : [
            {'service': 'twitter', 'id': 'mo_mughrabi'},
            {'service': 'linkedin', 'id': 'moalmughrabi'}
          ]
        }
      });
    </script>
    <!-- AddThis Smart Layers END -->
{% endblock %}
</body>
</html>
